body {
  background-color: rgb(191, 230, 241);
  color: rgb(44, 2, 2);
  font-size: 1.2em;
  background-image: url("media/pics/back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.flag {
  margin: 1% 40%;
  height: auto;
  width: 25%;
}

.main {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  margin: 4%;
}

.spacer{
  height:100px;
}